@import "./common/glob";
@import "./components/glob";

.page1 {
    main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50vh 43vh 7vh;
        div, nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            &.container-buttonsHome{
                flex-direction: column;
                gap: 2rem;
            }
            .volume_icon_mobile {
                display: none;
            }
        }
    }
    .volume_icon {
        position: absolute;
        width: 6vw;
        bottom: 2rem;
        right: 5rem;
    }
}

.page2 {
    main{
        display: grid;
        grid-template-rows: 93vh 7vh;
        place-items: center;
        div {
            display: grid;
            grid-template-rows: 31vh 31vh 31vh;
            place-items: center;
            section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }
            .section-text-page2 {
                p {
                    font-size: 2.2rem;
                    color: #fff;
                }
            }
            input {

            }
            .section-buttons-page2 {
                gap: 2rem;
            }
        }
    }
}

/* Estilos para dispositivos com até 768 pixels de largura */
// tablets e smartphones
@media only screen and (max-width: 820px) {
    .page1, .page2 {
        main{
            width: 100vw;
            white-space: nowrap;
            a {
                font-size: 2rem;
                text-decoration: none;
            }
            div {
                .volume_icon_mobile {
                    display: block;
                }
            }
        }
        .volume_icon {
            display: none;
        }
    }
}
