.input {
    border: 0.4rem solid #FFF;
    background-color: #161616;
    height: 5.6rem;
    width: 75%;
    padding-left: 1rem;
    font-size: 2.4rem;
    color: #FFF;
}

.input::placeholder{
    font-size: 2.4rem;
    color: #4D4D4D;
}